.loader {
    display: inline-block;
    position: relative;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-style: solid;
}

.loader-small {
    width: 16px;
    height: 16px;
    border-width: 2px;
}

.loader-medium {
    width: 24px;
    height: 24px;
    border-width: 3px;
}

.loader-large {
    width: 40px;
    height: 40px;
    border-width: 4px;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}